<header id="header" class="header">
    


    <!-- MOBILE HEADER -->
      <div class="wsmobileheader clearfix">
        <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
        <span class="smllogo"><img src="assets/images/logo-grey.png" width="180" height="40" alt="mobile-logo"/></span>
        <a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i></a>
     </div>


     <!-- HEADER STRIP -->
     <div class="headtoppart bg-blue clearfix">
        <div class="headerwp clearfix">

          <!-- Address -->
           <div class="headertopleft">			     			
              <div class="address clearfix"><span><i class="fas fa-map-marker-alt"></i>121 King St,
                  Melbourne, VIC 3000 </span> <a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i>(800)-569-7890</a>
                </div>
           </div>

           <!-- Social Links -->
          <div class="headertopright">
            <a class="googleicon" title="Google" href="#"><i class="fab fa-google"></i> <span class="mobiletext02">Google</span></a>
              <a class="linkedinicon" title="Linkedin" href="#"><i class="fab fa-linkedin-in"></i> <span class="mobiletext02">Linkedin</span></a>
              <a class="twittericon" title="Twitter" href="#"><i class="fab fa-twitter"></i> <span class="mobiletext02">Twitter</span></a>
              <a class="facebookicon" title="Facebook" href="#"><i class="fab fa-facebook-f"></i> <span class="mobiletext02">Facebook</span></a>
            </div>

        </div>
      </div>	<!-- END HEADER STRIP -->


      <!-- NAVIGATION MENU -->
      <div class="wsmainfull menu clearfix">
        <div class="wsmainwp clearfix">

          <!-- LOGO IMAGE -->
          <!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 80 pixels) -->
          <div class="desktoplogo"><a href="#hero-1"><img src="assets/images/logo-grey.png"  width="180" height="40" alt="header-logo"></a></div>

          <!-- MAIN MENU -->
            <nav class="wsmenu clearfix">
              <ul class="wsmenu-list">


                <!-- DROPDOWN MENU -->
                <li aria-haspopup="true"><a href="/">Home </a></li>                                     	
                  <!-- PAGES -->
                  <li aria-haspopup="true"><a href="#">Pages <span class="wsarrow"></span></a>
                    <div class="wsmegamenu clearfix halfmenu" >
                       <div class="container">
                          
                             <!-- MEGAMENU LINKS -->
                             <ul class="col-lg-12 col-md-12 col-xs-12 link-list">
                              
                                <li><a routerLink="/about">À propos de nous</a></li>
                                <li><a routerLink="/about">Qui nous sommes</a></li>  
                                <li><a routerLink="/doctors">Rencontrez les médecins</a></li>
                                <li><a routerLink="/galerie">Notre galerie</a></li>                             							                   
                                <li><a href="contacts-1.html">Contactez-nous</a></li>
                                </ul>
                               					                       
                      </div>  <!-- End container -->	
                  </div>  <!-- End wsmegamenu -->	
              </li>	<!-- END PAGES -->


                  <!-- HALF MENU -->
                  <li aria-haspopup="true"><a href="#">Chirurgies <span class="wsarrow"></span></a>
                    <div class="wsmegamenu clearfix halfmenu">
                        <div class="container-fluid">
                          <div class="row">

                            <!-- Links -->
                            <ul class="col-lg-12 col-md-12 col-xs-12 link-list">
                            
                                <li><a href="#">Chirurgie dentaire</a></li>							                    
                                <li><a href="#">Chirurgie des valves cardiaques</a></li>
                                <li><a href="#">Chirurgie orthopédique</a></li>
                                <li><a href="#">Chirurgie ophtomologique</a></li>
                                <li><a href="#">Chirurgie de l'obésité</a></li>								                    
                              </ul>

                          

                          </div>
                        </div>
                    </div>
                  </li>	<!-- END HALF MENU -->

    
              <!-- SIMPLE NAVIGATION LINK -->
              <li class="nl-simple" aria-haspopup="true"><a href="login">Connexion</a></li>

              <!-- NAVIGATION MENU BUTTON -->
              <li class="nl-simple header-btn" aria-haspopup="true"><a routerLink="/rendezvous">Make an Appointment</a></li>


              </ul>
            </nav>	<!-- END MAIN MENU -->

        </div>
      </div>	<!-- END NAVIGATION MENU -->


  </header>